html {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: mintcream;
}

button {
  padding: 16px 20px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  background-color: midnightblue;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: rgb(62, 62, 146);
}

img {
  border-radius: 10px;
}

